.App-IQ-Num{
    display: inline-block;
    border-radius: 2px;
    margin: 2px;
    color:darkblue
}
.App-IQ-Active{
    display: inline-block;
    border-radius: 2px;
    margin: 2px;
    font-weight: bold;
}
.App-IQ-Btn {
    margin: 5px;
}
.App-IQ-Row {
    margin: 1px;
    /* text-align: center; */
    background-color: #eeeeee;
}
.App-IQ-Row li{
    padding: 2px;
    display: inline-block;
    margin: 2px;
    font-size: 20px;
    border-radius: 5px;
    
}
.App-IQ-Container{
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px;
    width: 70%;
    text-align: left;
    border: 1px solid gray;
    border-radius: 20px;

}
.App-IQ-Question{
    /* border: 1px solid gray;
    border-radius: 10px; */
    padding: 10px;
}
.App-IQ-Active {
    background-color: darkblue;
    color:white
}
.App-IQ-Num{
    margin: 5px;

}
.App-IQ-Num div{
    margin: 5px;
    padding: 5px;
    border: 1px solid gray;
}