.App-Quiz-Num{
    display: inline-block;
    border-radius: 2px;
    margin: 2px;
    color:darkblue
}

.App-Quiz-Active{
    display: inline-block;
    /* background-color: darkblue; */
    border-radius: 2px;
    margin: 2px;
    /* color:white; */
    font-weight: bold;
}

.App-Quiz-Btn {
    margin: 5px;
}

.App-Resources-Row {
    margin: 10px;
}

.App-Topics li{
    padding: 2px;
    display: inline-block;
    margin: 2px;
    font-size: 20px;
    /* color:white; */
    border-radius: 5px;
    /* background-color: darkblue; */
}

.App-container{
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px;
    width: 900px;

}

.App-Question{
    border: 1px solid gray;
    border-radius: 10px;
    padding: 10px;
}

.App-Topics{
    text-align: center;
}

.App-Topic-Active {
    background-color: darkblue;
    color:white
}

.App-Q-Num{
    text-align: center;
}

.App-Q-Num div{
    margin: 5px;
    padding: 5px;
    border: 1px solid gray;
}