.App-Quiz-Num{
    display: inline-block;
    border-radius: 2px;
    margin: 2px;
    color:darkblue
}

.App-Quiz-Active{
    display: inline-block;
    background-color: darkblue;
    border-radius: 2px;
    margin: 2px;
    color:white;
    font-weight: bold;
}

.App-Quiz-Btn {
    margin: 5px;
}

.App-Resources-Row {
    margin: 10px;
}

.App-Resources-Row li{
    padding: 2px;
    display: inline-block;
    margin: 2px;
    font-size: 20px;
    /* color:white; */
    border-radius: 5px;
    /* background-color: darkblue; */
}

.App-container{
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px;
    text-align: left;
    width: 70%;
    border: 1px solid gray;
    border-radius: 20px;

}

.App-Question{
    border: 1px solid #eeeeee;
    /* border-radius: 10px; */
    padding: 10px;
}

.App-Topic-Active {
    background-color: darkblue;
    color:white
}

.App-Q-Num{
    /* text-align: center; */
    background-color: #eeeeee;
}

.App-Q-Num div{
    margin: 2px;
    padding: 2px;
    /* border: 1px solid gray; */
    /* background-color: white; */
}