.App-Home {
  text-align: center;
  background-color: #eeeeee;
  margin:0px
}
.App-Home-Row {
  padding: 5px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;

}

.App-Home-Row .box {
  padding: 0px;
  margin: 0px;
  width: 610px;
  background-color: white;
  border-radius: 20px;
  color:darkblue;
}


.App-Home-Row .btn {
  background-color: teal;
  padding: 10px;
  color: white;
  border: none;
  border-radius: 10%;
  margin-right: 10px;
  padding: 10px;
  font-size: larger;
}

.App-Home-Row .lnkBtn{
  border-radius: 5px;
  margin:2px
  
}

@media screen and (min-width: 700px) {
  .App-Home-Row .clientImg {
    width: 120px;
    height: 40px;
    margin:10px;
    padding: 10px;
    background-color: white;
    border-radius: 10px;
  }
}


@media screen and (max-width: 700px) {
  .App-Home-Row .clientImg {
    width: 100px;
    height: 50px;
    margin:1px;
    padding: 5px;
    background-color: white;
    border-radius: 10px;
  }
}

.App-Home .section {
  background-color: white;
  padding-bottom:30px;
  padding-top:30px;
  color:darkblue
}

.App-Home-Row .course {
  background-color:white;
  padding: 30px;
  margin: 30px;
  width: 250px;
  border-radius: 20px;
  color:darkblue
}

.App-Home-Row .count {
  background-color: white;
  padding: 20px;
  margin: 20px;
  width: 300px;
  border-radius: 20px;
  color:darkblue
}

.App-Home-Row .review {
  background-color: white;
  padding: 20px;
  margin: 20px;
  width: 400px;
  border-radius: 20px;
  border:1px darkblue solid;
}


.image {
  background-size: contain;
  width: 350px;
  height: 250px;
 border-radius: 20px;
}

.gallery {
  width:350px;
  padding:10px;
  margin:5px;
  color:darkblue
}

.App-Faq{
  font-size: 16px;
  background-color: white;
  border-radius: 20px;
  margin: 5px;
 
}

.App-Faq Summary,details{
  text-align: start;
  margin: 5px;
  padding: 5px;
}

@media screen and (min-width: 700px) {
.App-Home-Title {
 font-size: 40px;
}
}

@media screen and (max-width: 700px) {
  .App-Home-Title {
   font-size: 25px;
  }
  }