.App-Notes-Box {
    margin: 10px;
    /* text-align: center; */
    padding: 5px;
    display:flex;
    justify-content: center;
    flex-wrap: wrap;
}

.App-Notes-Img {
    border: 1px solid gray;
    border-radius: 20px;
}

.App-Notes-Btn {
    margin: 5px;
    padding: 10px;
    background-color: darkblue;
    color: white;
    width: 30px;
    border-radius: 20px;
}

.App-Notes-Box span {
    margin: 5px
}

.App-Notes-Slide {
    display: flex;
    align-items: center;
    justify-content: center;
}

.App-Notes-Active {
    margin: 5px;
    padding: 10px;
    background-color: darkblue;
    color: white;
    width: 100px;
    border-radius: 10px;
}

.App-Notes-Default{
    margin: 5px;
    padding: 10px;
    background-color:  #9DBCF7;
    color: darkblue;
    width: 100px;
    border-radius: 10px;
}

.App-Notes-Pages {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;
    width: 1200px;
}

.App-Notes-Pages div {
    margin: 5px;
    padding: 2px;
    border: 1px solid gray;

}

