.container {
  position: fixed;
  overflow: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  scroll-behavior: smooth;
  /* height: 100%; */
}

.header-row {
  background-color: orange;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0px;
}

.header-row .box {
  padding: 10px;
}

.header-row li {
  display: inline;
  padding: 5px;
  font-size: larger;
}

.header-row a {
  text-decoration: none;
}

.header-row a:hover {
  text-decoration: underline;
}

.row {
  padding: 100px;
  /* height: 75%; */

}

.row .box {
  padding: 10px;
  margin: 10px;
  width: 600px;
}

.footer {
  padding: 20px;
  margin: 0px;
  background-color: teal;
  color: white;
  font-size: large;
  text-align: center;
}

button {
  background-color: teal;
  padding: 10px;
  color: white;
  border: none;
  border-radius: 10%;
}

.flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

.box button {
  margin-right: 10px;
  padding: 10px;
  font-size: larger;
}

.c li {
padding: 10px;
margin: 20px;
font-size: large;
display: block;
border: 1px white solid;
border-radius: 20px;
background-color: white;
}

.row h2 {
  text-align: center;
}

.course {
  height: 160px;
}